form{
    width: 60%;
    border: solid 1px;
    padding: 10px;
}

input{
    padding: 12px 5px;
    width: 97%;
    border: solid 1px;
    border-radius: 5px;
    margin: 2% 0;
}

button{
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
    background-color: rgb(17, 50, 50);
    color: #ffffff;
    cursor: pointer;
    width: 97%;
}